<!DOCTYPE html5>
<html>
	<head>
		<title>Aircotek Appliance Services</title>
		<link rel="stylesheet" href="/assets/css">
	</head>
	<body>
		<section class="pageBody">

			<section class="topBar full-width">
				<!--Top Bar-->
				<include("./topBar.marko")/>
			</section>

			<section class="topBanner full-width">
				<!--Picture Banner-->
				<include("./banner.marko")/>
			</section>

			<section class="midCards full-width top-margin">
				<!--Mid Cards-->
				<include("./upperBody.marko")/>
			</section>

			<section class="bottomFooter full-width top-margin">
				<!--Footer-->
				<include("./footer.marko")/>
			</section>

		</section>
		<script type="text/javascript" src="/assets/js"></script>
	</body>
</html>